@charset "UTF-8";

.menu ul li{
	list-style: none;
	float: left;
	width: 20%;
	text-align: center;
	border: 1px solid black;
	background:#9ACD32;
}
.menu {
	width: 100%;
}

.calendar a {display: block; width: 100%;height: 100%; color: inherit} 
.calendar a:hover {background:#6c757d; text-decoration: none; color: black;}
.calendar .day_on {border: 3px solid red;}